/* #4a3a32 */
/* #eadfd4 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eadfd4;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eadfd4;
    color: #4a3a32;

}

img {
    width: 100px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #4a3a32;
}

.container {
    width: 100%;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: left;
}

#nav {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

#nav a {
    text-decoration: none;
    color: #eadfd4;
    margin-left: 1rem;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#form {
    background-color: #4a3a32;
    width: 30%;
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

input {
    width: 100%;

}

#email {
    padding: 0.5rem;
    margin: 0.5rem 0;
}

#password {
    padding: 0.5rem;
    margin: 0.5rem 0;
}

#submit {
    color: #4a3a32;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
    border: none;
    cursor: pointer;
    align-items: end;
}